<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.desk.user.mapper.DeskUserMapper">

    <resultMap type="com.ruoyi.project.desk.user.domain.DeskUser" id="DeskUserResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="age"    column="age"    />
        <result property="email"    column="email"    />
        <result property="createTime"    column="create_time"    />
        <result property="qq"    column="qq"    />
        <result property="region"    column="region"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDeskUserVo">
        select id, name, gender, age, email, create_time, qq, region, update_time from desk_user
    </sql>

    <select id="selectDeskUserList" parameterType="DeskUser" resultMap="DeskUserResult">
        <include refid="selectDeskUserVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="region != null "> and region = #{region}</if>
        </where>
    </select>

    <select id="selectDeskUserById" parameterType="Long" resultMap="DeskUserResult">
        <include refid="selectDeskUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeskUser" parameterType="DeskUser" useGeneratedKeys="true" keyProperty="id">
        insert into desk_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="age != null">age,</if>
            <if test="email != null">email,</if>
            <if test="createTime != null">create_time,</if>
            <if test="qq != null">qq,</if>
            <if test="region != null">region,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="age != null">#{age},</if>
            <if test="email != null">#{email},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="qq != null">#{qq},</if>
            <if test="region != null">#{region},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDeskUser" parameterType="DeskUser">
        update desk_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="email != null">email = #{email},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="qq != null">qq = #{qq},</if>
            <if test="region != null">region = #{region},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeskUserById" parameterType="Long">
        delete from desk_user where id = #{id}
    </delete>

    <delete id="deleteDeskUserByIds" parameterType="String">
        delete from desk_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>